<div id="settings" style="display:none">
    <div class="inside">
        <ul>
            <li>
                <h2>Linkes Rad</h2>
                <div class="text">
                    <input type="text" value="128" id="left-wheel-speed-text">
                </div>
                <div class="range">
                    <input type="range" id="left-wheel-speed-range" min="0" max="255" value="128" step="1">
                </div>
            </li>
            <li>
                <h2>Rechtes Rad</h2>
                <div class="text">
                    <input type="text" value="128" id="right-wheel-speed-text">
                </div>
                <div class="range">
                    <input type="range" id="right-wheel-speed-range" min="0" max="255" value="128" step="1">
                </div>
            </li>
        </ul>
        <div class="buttons">
            <button type="button" class="button button-abort" id="abort-settings-button">Abbrechen</button>
            <button type="button" class="button" id="save-settings-button">Speichern</button>
        </div>
    </div>
</div>