<%- include('includes/tinyhead.ejs'); %>
<%- include('includes/head.ejs'); %>
    <div class="message message-mail">
        <i class="fas fa-envelope"></i>
        <h2>E-Mail verschickt</h2>
        <p>Wir haben Ihnen soeben eine Mail mit einem Einladungslink geschickt. Bitte klicken Sie den darin enthaltenen Link an, um die Steuerung des Roboters anzufordern.</p>
        <p><a href="./">zurück zum Stream</a></p>
    </div>
<%- include('includes/tinyfoot.ejs'); %>